// 변수선언
$default-padding: 16px;
$bgcolor: #f1f1f1;
$darkcolor: #333;
$midiumcolor: #555;
$lightcolor: #fff;
$leftwidth: 75%;
$rightwidth: 25%;

// 믹스인선언
@mixin flexbox($dir:row, $just:space-between, $align:center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    @content;
}
body {
    font: {
        family: "맑은 고딕", sans-serif;
        size: 14px;
    }
    line-height: 1.6;
}
#wrap {
    background: $bgcolor;
    padding: $default-padding;
}
#header {
    background: $lightcolor;
    height: 150px;
    text-align: center;
    margin-bottom: $default-padding;
    #headerTitle {
        height: 120px;
        padding-top: 25px;
    }
    #headerMenu {
        background: $darkcolor;
        color: $lightcolor;
        @include flexbox();
        height: 30px;
        ul {
            @include flexbox();
        }
        a {
            padding: 0 $default-padding;
        }
    }
}
#contents {
    @include flexbox($align:flex-start);
    #left {
        width: $leftwidth;
    }
    #right {
        width: $rightwidth;
        padding-left: $default-padding;
    }
    .whiteBg {
        background: $lightcolor;
        padding: $default-padding;
        margin-bottom: $default-padding;
        .grayBg {
            background: $midiumcolor;
            color: $lightcolor;
            height: 120px;
            padding: 8px;
            margin: 8px 0;
        }
    }
}
#footer {
    text-align: center;
    background: $midiumcolor;
    color: $lightcolor;
    padding: $default-padding 0;
}